<% layout('/layouts/boilerplate')%>

<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/images/food1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Increase Your Sales</h5>
          <p>Maximize your turnover by minimizing wait times for orders, resulting in average sales growth of 20%</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/images/food2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Decrease Overhead</h5>
          <p>With the organization and speed of our system, your BOH staffing needs will be reduced by 15%</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/food3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Impress</h5>
          <p>With average food wait times cut in half, everyone is sure to be amazed by the service</p>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2">
      <span class="main-btn-span">
       <a href="/register"> <button class="btn btn-danger main-btn" href="/register" type="button">Register Now </button></a>
      </span> 
    </div>
  </div>
</div>
