<% layout('/layouts/boilerplate')%>

<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Time of Order</th>
          <th scope="col">Time Elapsed</th>
          <th scope="col">Order Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">13</th>
          <td>Pizza</td>
          <td>5:23</td>
          <td>4:34</td>
          <td>started</td>
        </tr>
        <tr>
          <th scope="row">22</th>
          <td>Salad</td>
          <td>5:25</td>
          <td>-</td>
          <td>pending</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Jambalaya</td>
            <td>5:30</td>
            <td>0:23</td>
            <td>started</td>
          </tr>
      </tbody>
  </table>